body {
    /* old browser */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0%;
    padding: 0%;
}

h1 {
    color: greenyellow;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 0;
}

#images {
    border: 0;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: #141E30;
}

p, h2, ul, h3, ol {
    border: 0;
    margin: 10px;
    padding: 10px;
    background-color: #35577D, #141E30;
    color: greenyellow;
    font-style: italic;
    font-weight: bold;
}

